## OOPS Part 1

In [1]:
a =1 
print(type(a))

<class 'int'>

In [2]:
print(type("abc"))

<class 'str'>

In [7]:
class test : 
    pass

a = test()
print(type(a))

<class '__main__.test'>

In [19]:
class cls_test: 
      def welcome(self):
        print("Welcome user" )
      
#      def welcome(self, msg):
#        print("Welcome" , msg)
obj = cls_test()
print(type(obj))

obj.welcome()
#obj.welcome("Narender")

<class '__main__.cls_test'>
Welcome user

In [9]:
class cls_test:
    
    def __init__(self,name, age):
        self.age = age
        self.name= name
        
    def welcome(self):
        print("Hello", self.name, "your age is",self.age )
        
    def get_user_details(self):
        return self.name, self.age


a = cls_test("a",32)
a.welcome()

neeraj = cls_test("Neeraj", 38)
#return details 
neeraj_details = neeraj.get_user_details()
neeraj.age

Hello a your age is 32

38

In [10]:
#you can use any alias other than self 
class cls_test:
    
    def __init__(abc,name, age):
        abc.age = age
        abc.name= name
        
    def welcome(abc):
        print("Hello", abc.name, "your age is",abc.age )
        
    def get_user_details(abc):
        return abc.name, abc.age


a = cls_test("a",32)
a.welcome()

neeraj = cls_test("Neeraj", 38)
#return details 
neeraj_details = neeraj.get_user_details()
neeraj.age

Hello a your age is 32

38

## encapsulation

In [21]:
class student:
    def __init__(self, rollno, age, marks ):
        self.__rollno = rollno 
        self.__age = age
        self.__marks = marks

st = student(22,3,4)

In [24]:
st._student__rollno

22

In [27]:
class student:
    def __init__(self, rollno, age, marks ):
        self.__rollno = rollno 
        self.__age = age
        self.__marks = marks
    def set_marks(self, marks):
        self.__marks= 0 if marks<0 else marks
    def get_marks(self):
        return self.__marks
        
st = student(101,23,43)

In [28]:
st.set_marks(-100)
st.get_marks()

In [30]:
st.set_marks(80)
st.get_marks()

80

In [56]:
class bank_account:
    def __init__(self, balance):
        self.__balance = balance
    def deposit(self, amount):
        self.__balance= self.__balance + amount
    def withdraw(self, amount):
        if self.__balance>=amount:
            self.__balance= self.__balance - amount
            return True
        else:
            return False
    def get_balance(self):
        return self.__balance

cls = bank_account(1000)

In [57]:
cls.get_balance()

1000

In [58]:
cls.deposit(100)

In [59]:
cls.get_balance()

1100

In [60]:
cls.withdraw(1200)

False

In [61]:
cls.withdraw(100)
cls.get_balance()

1000

## inheritance

In [62]:
class a : 
    def print_a(self):
        print("test method a ")

class child_a(a): 
    pass

obj = child_a()
obj.print_a()

test method a

In [66]:

class class1:
    def test_class1(self):
        return "class 1 method"

class class2(class1):
    def test_class2(self):
        return "class 2 method"

class class3(class2):
    def test_class3(self):
        return "class 3 method"
cls = class3()
cls.test_class1()
cls.test_class2()
cls.test_class3()

'class 3 method'

In [67]:

#ultiple inheritance
class class1:
    def test_class1(self):
        return "class 1 method"

class class2:
    def test_class2(self):
        return "class 2 method"

class class3(class1, class2):
    def test_class3(self):
        return "class 3 method"
cls = class3()
cls.test_class1()
cls.test_class2()
cls.test_class3()

'class 3 method'

## abstraction

In [68]:
#simple skeleton  
class abstract: 
    def student_details(self):
        pass
    def student_assign(self):
        pass
    def student_marks(self):
        pass

In [ ]:
#simple skeleton  
import abc 
class abstract: 
    @abc.abstractmethod
    def student_details(self):
        pass
    @abc.abstractmethod
    def student_assign(self):
        pass
    @abc.abstractmethod
    def student_marks(self):
        pass
    
class student(abstract):
    def student_details(self):
        return "student details"
    def student_assign(self):
        return "student assignment"
    def student_marks(self):
        return "student marks"

class data_science(abstract):
    def student_details(self):
        return "data science student details"
    def student_assign(self):
        return "data science student assignment"